# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtualenv
venv/
.env/

# VSCode / PyCharm / IDE stuff
.vscode/
.idea/

# Model files & logs
model_registry/
model_store/
*.pkl
*.jsonl
*.log

# OS-specific
.DS_Store

# Render / deployment secrets
.env
.secrets/
